.BackgroundContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BackgroundContainer .NotFoundContainer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NotFoundContainer .Heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.NotFoundContainer .Para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #475569;
}
.NotFoundContainer .Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  position: static;

  background: #f7931e;
  border-radius: 8px;
  border: none;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Light / base / white */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

@media screen and (min-width: 767px) {
  .NotFoundContainer {
    width: 70%;
  }
  .NotFoundContainer .Heading {
    font-size: 25px;
  }
  .NotFoundContainer .Para {
    font-size: 20px;
  }
  .NotFoundContainer .Button {
    font-size: 16px;
  }
}
